* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: #b6c7b7;
}

#logo { 
 width: 120px;
 height: 48px;
  margin: 24px;
 margin-left: 150px;
 margin-top: 40px;
}

#text {
  width: 400px;
  height: 800px;
  float: left;
  margin-left: 164px; 
}

#result {
  width: 400px;
  height: 944px;
  margin-left: 1044px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  border-radius: 32px;
  background-color: rgb(121, 93, 33);
  padding-left: 100px;
  padding-top: 40px;
}

.crip {
  background-color: rgb(121, 93, 34);
  border-radius: 24px;
  border-style: 32px 67px;
  float: left;
  font-size: 16px;
  width: 328px;
  height: 67px;
  color: rgb(255, 255, 255);
  border-color: #94c56b;
  font-weight: bold;
} 

textarea[placeholder="Digite seu texto"] { 
  font-size: 32px;
  font-family: 'Inter', sans-serif;
  color: rgb(139, 83, 0);
}

.descrip {
  background-color: rgb(121, 93, 34);
  border-radius: 24px;
  border-style: 32px 67px;
  margin-left: 342px;
  margin-top: -66px;
  float: left;
  font-size: 16px;
  width: 328px;
  height: 67px;
  color:#ffffff;
  border-color: #94c56b;
  font-weight: bold;
}

.copy {
 margin: 222px;
 margin-left: 130px;
 position: center;
 border-radius: 24px;
 border-style: 32px 67px;
 margin-left: 24px;
 float: left;
 font-size: 16px;
 width: 279px;
 height: 67px;
 background-color: white;
 border-color: #94c56b;
}

#img1 {
  margin-top: 25px;
}

.textarea is-info {
  background-color: white;
  border-color: rgb(128, 102, 20);
}

h2 {
  font-size: 32px;
  text-align: center;
  margin-right: 68px;
}

p {
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-right: 68px;
  margin-top: 24px;
}

#parag {
  font-size: 16px;
  text-align: left;
  margin-left: 32px;
  margin-top: -28px;

}

.ref {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  font-size: 18px;
  margin-top: 100px;
  position: absolute;
  float: initial;
  border-style:groove;
  margin-left: -5px;
  padding-right: 712px;
  background-color: #ffffff;
}


#infor {
  width: 32px;
  height: 32px;
  padding: 0%;
}

textarea {
  background: none;
  border: none;
  background-color: transparent;
  outline: none;
}

ul {
  padding-left: 144px;
  padding-right: 124px;
  list-style: none; 
  display: flex;
  gap: 1.45rem;

}

.image-footer {
  width: 24px;
}

footer {
  margin-top: 12px;
  margin-left: 470px;
  text-align: center;
}